<div class="container-fluid" style="background-color: white">
	<!-- #C1D4E7 -->

	<div class="row">

		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="col-md-4 col-md-offset-3"></div>
			<div class="row">
				<div class="col-md-6 ">

					<input type="text" name="fname" placeholder="Enter Brand name">
				</div>
				<div class="col-md-6 ">
					<input type="text" name="fname"
						placeholder="Enter Handlename/Optional">
				</div>
			</div>

			<div class="spacer" style="height: 8px;"></div>
			<div class="row">
				<div class="col-md-4 col-md-offset-3">


					<button type="button" class="btn btn-primary">Start
						Analysis</button>


				</div>


			</div>
		</div>




		<div class="col-md-4"></div>
	</div>

	<hr class="style13" style="width: 1290px; margin-left: -10px">
	<div class="row">



		<div class="col-md-3"></div>
		<div class="col-md-3">
			<button class="btn btn-facebook" style="width: 140px">
				<i class="fa fa-facebook"></i>Facebook
			</button>
		</div>

		<div class="col-md-3"></div>
		<div class="col-md-3">
			<button class="btn btn-twitter" style="width: 140px">
				<i class="fa fa-twitter"></i>Twitter
			</button>
		</div>

	</div>

	<div class="row" style="margin-top: 10px">



		<div class="col-md-2 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="glyphicon glyphicon-comment"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Total Comments</span> <span
						class="info-box-number">333</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-2 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-red"><i
					class="glyphicon glyphicon-share"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Total Shares</span> <span
						class="info-box-number">41,410</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->

		<!-- fix for small devices only -->
		<div class="clearfix visible-sm-block"></div>

		<div class="col-md-2 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-green"><i
					class="glyphicon glyphicon-thumbs-up"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">TOtal Likes</span> <span
						class="info-box-number">760</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-2 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="glyphicon glyphicon-comment"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Total Comments</span> <span
						class="info-box-number">90</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col-md-2 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-red"><i
					class="glyphicon glyphicon-share"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Total Shares</span> <span
						class="info-box-number">41,410</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->

		<!-- fix for small devices only -->
		<div class="clearfix visible-sm-block"></div>

		<div class="col-md-2 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-green"><i
					class="glyphicon glyphicon-thumbs-up"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Sales</span> <span
						class="info-box-number">760</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
	</div>

	<hr class="style13" style="width: 1290px; margin-left: -10px">
	<div class="row">

		<div class="col-md-3 col-sm-6 col-xs-12">
			<table class="table">
				<thead>
					<tr style="background-color: steelblue">
						<th scope="col"></th>
						<th scope="col">Status</th>
						<th scope="col">Shares</th>
						<th scope="col">Likes</th>
					</tr>
				</thead>
				<tbody style="background-color: #ded575">
					<tr>
						<th scope="row" class="glyphicon glyphicon-facetime-video"></th>
						<td>Video</td>
						<td>30</td>
						<td>40</td>
					</tr>
					<tr>
						<th scope="row" class="glyphicon glyphicon-picture"></th>
						<td>Photos</td>
						<td>20</td>
						<td>50</td>
					</tr>
					<tr>
						<th scope="row" class=" glyphicon glyphicon-share-alt"></th>
						<td>Shared story</td>
						<td>35</td>
						<td>60</td>
					</tr>
					<tr>
						<th scope="row" class="glyphicon glyphicon-text-size"></th>
						<td>Text</td>
						<td>60</td>
						<td>70</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<!-- 
			<div class="col-md-6" id="chartContainer"
				style="height: 250px; width: 50%;"></div> -->
			<!-- 			<nvd3 options="options" data="data"></nvd3>
 -->
			<nvd3 options="options" data="data"></nvd3>


		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">

			<table class="table">
				<thead>
					<tr style="background-color: #3cb371">
						<th scope="col"></th>
						<th scope="col">Location</th>
						<th scope="col">Tweets</th>
					</tr>
				</thead>
				<tbody style="background-color: #ded575">
					<tr>
						<th scope="row" class="glyphicon glyphicon-facetime-video"></th>
						<td>Chennai</td>
						<td>30</td>
					</tr>
					<tr>
						<th scope="row" class="glyphicon glyphicon-picture"></th>
						<td>Mumbai</td>
						<td>20</td>
					</tr>
					<tr>
						<th scope="row" class=" glyphicon glyphicon-share-alt"></th>
						<td>Kerala</td>
						<td>35</td>
					</tr>
					<tr>
						<th scope="row" class="glyphicon glyphicon-text-size"></th>
						<td>Text</td>
						<td>60</td>

					</tr>
				</tbody>
			</table>
		</div>


		<div class="col-md-3 col-sm-6 col-xs-12">

			<nvd3 options="options" data="data"></nvd3>

		</div>

	</div>


	<hr class="style13" style="width: 1290px; margin-left: -10px">



	<div class="row">
		<div class=col-md-4>

			<table class="table">
				<span>Twitter topInfluencers</span>
				<thead style="background-color: #3cb371">
					<tr>
						<!-- 						<th scope="col">No</th>
 -->
						<th scope="col">FirstName</th>
						<th scope="col">LastName</th>
						<th scope="col">UserName</th>
					</tr>
				</thead>
				<tbody style="background-color: #ded575">
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>John</td>
						<td>30</td>
						<td>40</td>
					</tr>
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>Ram</td>
						<td>20</td>
						<td>50</td>
					</tr>
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>Geni</td>
						<td>35</td>
						<td>60</td>
					</tr>
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>Joy</td>
						<td>60</td>
						<td>70</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class=col-md-4>

			<span>Facebook Emoji Count</span>

			<table class="table">
				<thead>
					<tr style="background-color: steelblue">
						<th scope="col"></th>
						<th scope="col">Emoji</th>
						<th scope="col">Count</th>
					</tr>
				</thead>
				<tbody style="background-color: #ded575">
					<tr>
						<th scope="row" class="material-icons" style="font-size: 20px">mood</th>
						<td>Smile</td>
						<td>10</td>
					</tr>
					<tr>
						<th scope="row" class="glyphicon glyphicon-heart"></th>

						<td>Heart</td>
						<td>20</td>
					</tr>
					<tr>
						<th scope="row" class=" glyphicon glyphicon-thumbs-up"></th>
						<td>Thumbs up</td>
						<td>35</td>
					</tr>
					<!-- <tr>
						<th scope="row" class="glyphicon glyphicon-text-size"></th>
						<td>Text</td>
						<td>60</td>

					</tr> -->
				</tbody>
			</table>
		</div>

		<div class=col-md-4 id="map"
			style="width: 400px; height: 200px; border: 1px solid black; background: grey">
		</div>

	</div>


	<hr class="style13" style="width: 1290px; margin-left: -10px">
	<div class="row">

		<div class="col-md-6"><table class="table">
				<span>Facebook Mechine Learning Insights</span>
				<thead style="background-color: #3cb371">
					<tr>
						<!-- 						<th scope="col">No</th>
 -->
						<th scope="col">Top5</th>
						<th scope="col">Positive</th>
						<th scope="col">Negative</th>
					</tr>
				</thead>
				<tbody style="background-color: #ded575">
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>John</td>
						<td>30</td>
						<td>40</td>
					</tr>
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>Ram</td>
						<td>20</td>
						<td>50</td>
					</tr>
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>Geni</td>
						<td>35</td>
						<td>60</td>
					</tr>
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>Joy</td>
						<td>60</td>
						<td>70</td>
					</tr>
				</tbody>
			</table></div>
		<div class="col-md-6"><table class="table">
				<span>Twitter Mechine Learning Insights</span>
				<thead style="background-color: #3cb371">
					<tr>
						<!-- 						<th scope="col">No</th>
 -->
						<th scope="col">Top5</th>
						<th scope="col">Positive</th>
						<th scope="col">Negative</th>
					</tr>
				</thead>
				<tbody style="background-color: #ded575">
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>John</td>
						<td>30</td>
						<td>40</td>
					</tr>
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>Ram</td>
						<td>20</td>
						<td>50</td>
					</tr>
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>Geni</td>
						<td>35</td>
						<td>60</td>
					</tr>
					<tr>
						<!-- 						<th scope="row">x</th>
 -->
						<td>Joy</td>
						<td>60</td>
						<td>70</td>
					</tr>
				</tbody>
			</table></div>
		
	</div>
	
	<div class="row">

		<div class="col-md-6">
		
		<img src="https://comps.canstockphoto.com/facebook-word-clouds-clip-art_csp7884992.jpg" class="img-rounded" alt="Cinque Terre" width="100%" height="auto"></img>
		   
		</div>
		<div class="col-md-6">
				<img src="https://cdn.xl.thumbs.canstockphoto.com/twitter-word-cloud-twitter-concept-word-cloud-background-pictures_csp21951780.jpg" class="img-rounded" alt="Cinque Terre" width="100%" height="auto"></img>
		
		</div>
		
	</div>
	
	<div class="row">

		<div class="col-md-6"> 
		  <nvd3 options="options2" data="data2"></nvd3>
		</div>
		<div class="col-md-6">   
		   
					  <nvd3 options="options3" data="data3"></nvd3>
				
		</div>
		
	</div>
	<div class="row">

		<div class="col-md-6"></div>
		<div class="col-md-6"></div>
		
	</div>
	
	
	
	
</div>

